.patientAvatar {
    border-radius: 50%;
    height: 90px;
}

.patientInfo{
    margin-left: 106px;
    margin-top: -92px;
}

.patientInfo p{
    margin-top:-8px;
}

.patientContainer{
    color: #003471;
    border-right: 1px solid #003471;
    height:100vh;
}

.patientTitle{
    font-size: 18px;
    font-weight: bold;
}

.farma-icon{
    height:22px;
    margin-top:-7px
}

.vital-sign{
    padding:3px;
}
    .vital-sign b{
        font-size: 18px;
    }

.vital-sign-last{
    font-size: 12px;
}
    .vital-sign-last b{
        font-size: 14px;
    }

.fixCb{
    margin-left: 5px;
    font-weight: normal;
    margin-right: 20px;
}


body {
    color: #003471;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    color:#ffffff;
    background-color:#015993; 
}